<!-- For built in pipes -->
<!-- <div style="text-align:left">
    <h2>Today's date is {{ today | date:format }}</h2>
    <button (click)="toggleFormat()">Toggle Format</button>
</div> -->
  

<!-- For custom pipes -->
<!-- <app-join-name></app-join-name> --> 


<!-- For pure and impure pipes -->
<!--
<app-locations></app-locations>
<app-locations-impure></app-locations-impure>
-->


<!-- Angular Forms -->
<!-- <app-user-form></app-user-form> -->

<!-- Routing -->
<!-- <router-outlet></router-outlet> -->


<!-- Structural Directive -->

<!-- <div>
    <h3>This will always be displayed</h3>
    <h4 *appHideElement = "true"> This will be hidden</h4>
    <h4 *appHideElement = "false"> This will not be hidden</h4>
</div> -->

<!-- Attribute Directive -->
<!-- <h4>Pick a highlight color</h4> 
<div> 
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan 
</div>
    <p [appHighlight]="color">Highlight me!</p> -->

<!-- Service and Injectable -->
<app-store></app-store>
<app-cart></app-cart>