<!-- For built in pipes -->
<!-- <div style="text-align:left">
    <h2>Today's date is {{ today | date:format }}</h2>
    <button (click)="toggleFormat()">Toggle Format</button>
</div> -->
  

<!-- For custom pipes -->
<!-- <app-join-name></app-join-name> --> 


<!-- For pure and impure pipes -->
<!--
<app-locations></app-locations>
<app-locations-impure></app-locations-impure>
-->


<!-- Angular Forms -->
<!-- <app-user-form></app-user-form> -->

<!-- Routing -->
<router-outlet></router-outlet>